# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.pytest_cache/

# Env
.env
.env.local
*.env

# Node
node_modules/
dist/
.vite/

# Editors / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log

# DB
*.sqlite3
